<?xml version="1.0"?>

<launch>
    <node pkg="obstacle_detector" type="obstacle_detector" name="obstacle_detector" args="-s /sensors/hokuyo_nodes/0" output="screen" cwd="node">
        <param name ="debug" type= "int" value= "1"/>
        <param name= "subscriber_topic" type= "string" value= "/scan"/>
        <param name="publisher_topic" type= "string" value= "/obstacle_detector/obstacles"/>
        <param name= "max_dist" type= "int" value= "100"/> 
        <param name= "min_dist" type= "int" value= "1"/>
    </node>
    <node pkg="lane_detector_final" type="laneDetectorNode" name="lane_detector_final" output="screen" cwd="node" >
        <param name="node_id" type="str" value="0"/>
        <param name="debug_mode" type="int" value="5"/>
        <param name="time_functions" type="int" value="0"/>
        <param name="subscribe_topic_name" type="str" value="/camera/image"/>
        <param name="train_file" type="str" value="../data/Samples"/>
    </node>
</launch>
