<?xml version="1.0"?>

<launch>
    
    <node pkg="lane_detector" type="lane_detector" name="lane_detector1" args="lane_detector1" output="screen" cwd="node">
        <param name="debug_mode" type="int" value="8"/>
        <param name="ipt_offsets_file" type="str" value="ipt_offsets1.txt"/>                
        <param name="map_size" type="int" value="1000"/>        
        <param name="published_topic_name" type="str" value="/lane_detector1/lanes"/>        
        <param name="subscribed_topic_name" type="str" value="/logitech_camera1/image"/>
        <param name="training_data_file" type="str" value="Samples1"/>
        <param name="time_functions" type="int" value="0"/>
        <param name="wait_time" type="int" value="10"/>
        <param name="warp_matrix_file" type="str" value="../data/warp_matrix2.dat"/>
    </node>
<!--   <node pkg="lane_detector" type="lane_detector" name="lane_detector2" args="lane_detector2" output="screen" cwd="node">
        <param name="debug_mode" type="int" value="0"/>
        <param name="ipt_offsets_file" type="str" value="../data/ipt_offsets2.txt"/>                
        <param name="map_size" type="int" value="1000"/>        
        <param name="published_topic_name" type="str" value="/lane_detector2/lanes"/>        
        <param name="subscribed_topic_name" type="str" value="/logitech_camera2/image"/>
        <param name="training_data_file" type="str" value="../data/test_night4"/>
        <param name="time_functions" type="int" value="0"/>
        <param name="wait_time" type="int" value="10"/>
        <param name="warp_matrix_file" type="str" value="../data/warp_matrix1.dat"/>
    </node>-->
    
    <!--<node pkg="lane_navigator" type="lane_navigator" name="lane_navigator" output="screen" cwd="node" args="1">
        <param name="debug" type="int" value="0"  />
    </node>-->
</launch>
