<?xml version="1.0"?>

<launch>
    <node pkg="waypoint_selector" type="waypoint_selector" name="waypoint_selector" args="3" output="screen" cwd="node">
        <param name="proximity" type="double" value="20.0"/>
        <param name="filename" type="str" value="../data/GPS_waypoints25.txt"/>                
        <param name="strategy" type="int" value="1"/>        
    </node>
</launch>
